@import './base.css';

/* this is where i put re-usable in different components styles */

a {
  text-decoration: none;
  color: rgb(37, 113, 145);
}

a:hover {
  cursor: pointer;
  color: rgb(202, 107, 214);
}

a:visited {
  color: rgb(37, 113, 145);
}

.main-styles__description-text {
  margin-top: 2em;
  text-align: center;
}

.main-styles__link-back {
  display: block;
  text-align: center;
}
