@import './base.css';

/* this is where i put re-usable in different components styles */

a {
  text-decoration: none;
  color: rgb(37, 113, 145);
}

a:hover {
  cursor: pointer;
  color: rgb(202, 107, 214);
}

a:visited {
  color: rgb(37, 113, 145);
}

.main-styles__description-text {
  text-align: center;
}

.main-styles__link {
  display: block;
  text-align: center;
}

.main-styles__link:hover {
  cursor: pointer;
  color: rgb(202, 107, 214);
}

.main-styles--mt2rem {
  margin-top: 2rem;
}

.glimming-animation {
  /* font-family: monospace;
  font-size: 3em; */
  animation: color-change 1s infinite;
}

@keyframes color-change {
  100% {
    color: rgb(202, 107, 214);
  }
  0% {
    color: rgb(37, 113, 145);
  }
}

@media (width <= 70rem) {
  .main-styles__description-text,
  .main-styles__link-back {
    font-size: 1.6rem;
  }
}

@media (width <= 40rem) {
  .main-styles__description-text,
  .main-styles__link-back {
    font-size: 1.2rem;
  }
}

@media (width <= 23rem) {
  .main-styles__description-text,
  .main-styles__link-back {
    font-size: 0.8rem;
  }
}
